.m-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-y-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
