<page-header class="bg-dark text-light" title="assets_stats.title" />

<mat-card class="mt-4 chart-card">
  <mat-card-content>
    <section>
      <div class="flex items-center gap-2 mb-4 w-full container">
        <div id="ticker-select">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>{{ 'assets_stats.select_asset' | translate }}</mat-label>
            <mtx-select
              [items]="userTickets"
              bindLabel="name"
              bindValue="symbol"
              [multiple]="false"
              [(ngModel)]="selectedTicker"
              (change)="onTickerSelected()"
            />
          </mat-form-field>
        </div>

        <div id="widget-actions">
          <a href="javascript:void(0);" mat-mini-fab (click)="loadTradingViewWidgets()" [matTooltip]="'common.search' | translate">
            <mat-icon>search</mat-icon>
          </a>
          <a href="javascript:void(0);" mat-mini-fab (click)="clearWidgets()" [matTooltip]="'common.clean' | translate">
            <mat-icon>clear</mat-icon>
          </a>
        </div>
      </div>

      @if (errorMessage) {
        <mat-error class="mb-4">{{ errorMessage }}</mat-error>
      }

      @if (loadingWidgets) {
        <div class="flex justify-center my-4">
          <mat-spinner />
        </div>
      }

      <div class="flex flex-col space-y-6" style="margin-top: 30px;">
        @for (title of titles; track title.id) {
          <div class="tradingview-widget-container w-full magazine-widget" id="widget-{{title.id}}">
            <div class="tradingview-widget-container__widget"></div>
          </div>
        }
      </div>
    </section>
  </mat-card-content>
</mat-card>
