<mat-card>


      <section class="section-title">

         <mat-card-header>
            <mat-card-title><h2>{{ user.username }}</h2></mat-card-title>
            <mat-card-subtitle><p>{{ user.email }}</p></mat-card-subtitle>
          </mat-card-header>

        <mat-card class="demo-card">
          <mat-card-content>
            The German Shepherd is a breed of medium to large-sized working dog that originated in
            Germany. The breed's officially recognized name is German Shepherd Dog in the English
            language. The breed is also known as the Alsatian in Britain and Ireland.
          </mat-card-content>
                    <mat-card-content>
            The German Shepherd is a breed of medium to large-sized working dog that originated in
            Germany. The breed's officially recognized name is German Shepherd Dog in the English
            language. The breed is also known as the Alsatian in Britain and Ireland.
          </mat-card-content>
          <mat-card-content>
            People also search for Rottweiler, Siberian Husky, Labrador Retriever, Doberman Pinscher
          </mat-card-content>
        </mat-card>
      </section>


</mat-card>
