/* overview.component.scss */

:host {
  display: block; // Garante que o componente Angular ocupe o espaço necessário
}

.section-title {
  margin-bottom: 10px;
}


.tradingview-widget-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.tradingview-widget-container__widget {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

// Estilos para o botão de recarregar e animação do ícone
button[mat-icon-button] {
  mat-icon {
    &.spin-animation {
      animation: spinAnimation 1s linear infinite;
    }
  }
}

// Animação de rotação
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-overview {
  padding: 20px;
}

.tradingview-widget-container {
  height: 450px;
  width: 100%;
}

.spin-animation {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

mat-card {
  margin-bottom: 20px;
}
