<h2 mat-dialog-title>{{ 'dashboard.dialogs.transaction_summary.title' | translate }}</h2>
<mat-dialog-content>
  <p>O  total das transações de COMPRA importadas é de: <strong>{{ data.totalCompras | currency:'BRL' }}</strong></p>
  <p>O  total das transações de VENDA importadas é de: <strong>{{ data.totalVendas | currency:'BRL' }}</strong></p>

  <h3>{{ 'dashboard.dialogs.transaction_summary.details_title' | translate }}</h3>
  <div *ngIf="data.transactions && data.transactions.length > 0; else noTransactions">
    <table mat-table [dataSource]="data.transactions" class="w-100">

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.dialogs.transaction_summary.columns.date' | translate }} </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.dataTransacao | date }} </td>
      </ng-container>

      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.dialogs.transaction_summary.columns.asset' | translate }} </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.ticker }} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.dialogs.transaction_summary.columns.type' | translate }} </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.tipoTransacao }} </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.dialogs.transaction_summary.columns.quantity' | translate }} </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.quantidade }} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.dialogs.transaction_summary.columns.value' | translate }} </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.valorTransacao | currency:transaction.moeda }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['data', 'ticker', 'tipo', 'quantidade', 'valor']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['data', 'ticker', 'tipo', 'quantidade', 'valor']"></tr>
    </table>
  </div>
  <ng-template #noTransactions>
    <p>{{ 'dashboard.dialogs.transaction_summary.no_transactions' | translate }}</p>
  </ng-template>
  <p>{{ 'dashboard.dialogs.transaction_summary.balance' | translate }}: <strong>{{ data.balance | currency:'BRL' }}</strong></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">{{ 'close' | translate }}</button>
</mat-dialog-actions>
