.matero-page-header {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  border-radius: var(--mat-sys-corner-medium);

  .matero-breadcrumb {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.matero-page-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
