.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-image:
    radial-gradient(at 97% 21%, hsla(0deg, 4%, 12%, 0.3) 0, transparent 50%),
    radial-gradient(at 52% 99%, hsla(128deg, 42%, 33%, 0.3) 0, transparent 50%),
    radial-gradient(at 10% 29%, hsla(126deg, 89%, 37%, 0.3) 0, transparent 50%),
    radial-gradient(at 97% 96%, hsla(93deg, 67%, 66%, 0.3) 0, transparent 50%),
    radial-gradient(at 33% 50%, hsla(48deg, 100%, 50%, 0.3) 0, transparent 50%),
    radial-gradient(at 79% 53%, hsla(0deg, 0%, 96%, 0.3) 0, transparent 50%);
}
