mat-card,
.mat-mdc-card,
.mdc-card,
.mat-mdc-card-outlined,
.mdc-card--outlined {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

mat-card-content,
.mat-mdc-card-content {
  padding: 32px 16px;
  background: transparent !important;
}

.invalid-field .mdc-notched-outline__leading,
.invalid-field .mdc-notched-outline__trailing,
.invalid-field .mdc-notched-outline__notch {
  border-color: var(--mat-sys-error) !important;
}

.status-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

.status-toggle {
  pointer-events: none;
  user-select: none;
}

.form-grid-row mat-form-field {
  width: 100%;
  margin-bottom: 32px;
}

.save-button-container {
  margin-top: 32px;
  text-align: center;
}

.form-grid-row h4 {
  margin-bottom: 32px;
}

.form-grid-row .mat-mdc-form-field-infix {
  padding: 10px 0;
}

.status-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: green !important;
}

.status-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: darkgreen !important;
}

.mat-form-field-suffix-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-form-field-suffix-wrapper .mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.mat-form-field-suffix-wrapper .mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
